@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v18-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body--no-scroll {
  overflow: hidden;
}

.header {
  margin: 15px 40px 30px 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}

.preview-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.preview-list__item {
  margin: 0 20px 30px 20px;
}

.preview-list__image {
  width: 100%;

  cursor: pointer;
}

.preview-list__image:hover,
.preview-list__image:focus {
  box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 20px;

  border-top: 1px solid #CCCCCC;
}

.copyrights {
  font-size: 14px;
  line-height: 16px;
  color: #CCCCCC;
  text-align: center;
  text-transform: uppercase;
}

.modal {
  display: none;

  font-family: "Roboto", "Arial", sans-serif;
}

.modal--show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: block;
  width: 100vw;
  height: 100vh;

  background-color: #FFFFFF;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  display: none;

  background: rgba(0, 0, 0, 0.7);
}

.overlay--show {
  display: block;
}

.image__toggle {
  position: absolute;
  top: 20px;
  right: 30px;

  width: 18px;
  height: 18px;

  font-size: 0;
  line-height: 0;
  color: transparent;

  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.image__toggle line {
  stroke: #000000;
}

.image__toggle:hover line,
.image__toggle:focus line {
  stroke: #FFFFFF;
}

.comments-list {
  display: flex;
  flex-direction: column;
  margin: 25px 20px 0 20px;
  padding: 0;

  list-style: none;
}

.comments-list__date {
  font-size: 13px;
  line-height: 15px;
  color: #999999;
}

.comments-list__comment {
  margin: 5px 0 20px 0;

  font-size: 13px;
  line-height: 15px;
}

.comment-form {
  margin: 20px 20px 0 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.comment-form input {
  margin-bottom: 20px;
  padding: 8px 10px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.comment-form input::placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #CCCCCC;
}

.comment-form__submit-button {
  padding: 8px 10px;

  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;

  background: #4997D0;
  border-radius: 3px;
  border: 1px solid #4997D0;

  cursor: pointer;
}

.comment-form__submit-button:hover,
.comment-form__submit-button:focus {
  color: #4997D0;

  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .main {
    min-height: calc(100vh - 72px);
  }

  .preview-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .preview-list__item {
    width: 229px;
    margin: 0 20px 30px 0;
  }

  .preview-list__item:nth-child(3n) {
    margin-right: 0;
  }

  .modal--show {
    top: calc(50% - 212.5px);
    left: calc(50% - 309px);

    width: 619px;
    height: 425px;
    padding: 30px;
  }

  .image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image__full-image {
    width: 330px;
    height: 205px;
  }

  .comments-list {
    margin: 0 0 0 15px;
  }

  .comment-form {
    margin: 30px 0 0 0;
    width: 330px;
  }
}
